body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #f4f4f4;
}
.contenedor{
    text-align: center;
    margin-top: 50px;
}
h1{
    color: #333;
}
button{
    padding: 12px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    font-size: 16px;
}
button:hover{
    background-color: #0056b3;
}
.imagen-contenedor{
    margin-top: 30px;
}
img{
    width: 350px;
    border-radius: 15px;
}